# default release tags
include:
  - project: 'pve-cloud/pve-cloud-pipelines'
    file: 'release-tag.yml'
    ref: 'master'


# pipeline trigger if the upstream releases
pve_cloud_controller_upstream:
  stage: build
  extends: .upstream-trigger
  script:
    # write the new version
    - sed -i "s/var\.cloud_controller_version\s==\s\?\snull\s?\s\".*\"/var.cloud_controller_version == null ? \"${PVE_CLOUD_CONTROLLER}\"/" modules/controller/variables.tf
    - COMMIT_MESSAGE="Update pve-cloud-controller version to ${PVE_CLOUD_CONTROLLER}"

    - *push_script
  rules:
    - if: ( $PVE_CLOUD_CONTROLLER != null || $PVE_CLOUD_CONTROLLER =~ /^./ ) # set by upstream


pve_cloud_backup_upstream:
  stage: build
  extends: .upstream-trigger
  script:
    # write the new version
    - sed -i "s/var\.backup_image_version\s==\s\?\snull\s?\s\".*\"/var.backup_image_version == null ? \"${PVE_CLOUD_BACKUP}\"/" modules/backup/variables.tf
    - COMMIT_MESSAGE="Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"
    
    - *push_script
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream

