release_tag:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
  resource_group: deploy-prod

# pipeline trigger if the upstream releases
pve_cloud_controller_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - sed -i "s/var\.cloud_controller_version\s==\s\?\snull\s?\s\".*\"/var.cloud_controller_version == null ? \"${PVE_CLOUD_CONTROLLER}\"/" modules/controller/variables.tf
    - /scripts/upstream-push.sh "Update pve-cloud-controller version to ${PVE_CLOUD_CONTROLLER}"
  rules:
    - if: ( $PVE_CLOUD_CONTROLLER != null || $PVE_CLOUD_CONTROLLER =~ /^./ ) # set by upstream

pve_cloud_backup_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:latest
  script:
    # write the new version
    - sed -i "s/var\.backup_image_version\s==\s\?\snull\s?\s\".*\"/var.backup_image_version == null ? \"${PVE_CLOUD_BACKUP}\"/" modules/backup/variables.tf
    - /scripts/upstream-push.sh "Update pve-cloud-backup version to $PVE_CLOUD_BACKUP"
  rules:
    - if: ( $PVE_CLOUD_BACKUP != null || $PVE_CLOUD_BACKUP =~ /^./ ) # set by upstream

